body {
	margin: 0;
	padding: 0;
	background-image: url('background_img.jpg');
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.bg-image {
	background-image: url('background_img.jpg');
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 100vh;
}

.bg-image::before,
.darker_bg {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: auto;
	overflow-y: scroll;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.5);
}

.centered-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome_to_webserv_header {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 75px;
	font-family: 'Paytone One', sans-serif;
	color: white;
}

.about_webserv_btn {
	--bs-btn-padding-y: 1.25rem;
	--bs-btn-padding-x: 2.5rem;
	--bs-btn-font-size: 1rem;
}

.about_header {
	font-family: 'Paytone One', sans-serif;
	color: white;
	font-size: 300%;
}

.about_webserv_txt {
	margin-left: 1.5%;
	max-width: 600px;
	color: white;
}

.about_objectives_header {
	margin-left: 1.5%;
	max-width: 600px;
	font-family: 'Paytone One', sans-serif;
	color: white;
}

.obj_container {
	padding-top: 4.5%;
	padding-left: 3.75%;
}

.about_obj_head_txt {
	max-width: 600px;
	font-weight: bold;
	font-family: 'Paytone One', sans-serif;
	margin-left: 1.5%;
	color: white;
}

.about_obj_txt {
	margin-left: 3%;
	margin-top: 0.15%;
	max-width: 600px;
	color: white;
}
